* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../image/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*****************Navbar******** */
nav {
  width: 100%;
  height: 11vh;
  background: rgba(203, 188, 219, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 800;
}
nav .menu a {
  color: white;
  text-decoration: none;
  width: 15%;
}
nav .menu a:hover {
  cursor: pointer;
  border-top: 2px solid skyblue;
  border-bottom: 2px solid skyblue;
}

/*************** Main Section*************************/
main {
  width: 100%;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
section {
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  letter-spacing: 0.3rem;
}
section h1 {
  margin: 5px 0 10px 0;
  font-weight: 900;
}

/* **********stationary shop***************** */
.stationary {
  display: flex;
  flex-direction: column;
}
.stationary .items1 {
  display: flex;
}
.stationary .items2 {
  display: flex;
}
.stationary .items1 .item1 a,
.item2 a,
.item3 a {
  font-size: x-large;
  color: white;
  text-decoration: none;
}
.stationary .items2 .item1 a,
.item2 a,
.item3 a {
  font-size: x-large;
  color: white;
  text-decoration: none;
}
.stationary .items1 .item1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/booksshop.jpg);
  width: 33.33%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stationary .items1 .item2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/trunkshop.jpg);
  width: 33.33%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stationary .items1 .item3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/wandshop.jpg);
  width: 33.33%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stationary .items2 .item1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/dress.jpg);
  width: 33.33%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stationary .items2 .item2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/herbshop.jpg);
  width: 33.33%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stationary .items2 .item3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/antics.jpg);
  width: 33.33%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stationary .items1 .item1:hover {
  background-image: linear-gradient(
      rgba(80, 190, 233, 0.3),
      rgba(92, 196, 236, 0.3)
    ),
    url(../image/booksshop.jpg);
  cursor: pointer;
  font-weight: 600;
}
.stationary .items1 .item2:hover {
  background-image: linear-gradient(
      rgba(80, 190, 233, 0.3),
      rgba(92, 196, 236, 0.3)
    ),
    url(../image/trunkshop.jpg);
  width: 33.33%;
  cursor: pointer;
  font-weight: 600;
}
.stationary .items1 .item3:hover {
  background-image: linear-gradient(
      rgba(80, 190, 233, 0.3),
      rgba(92, 196, 236, 0.3)
    ),
    url(../image/wandshop.jpg);
  cursor: pointer;
  font-weight: 600;
}
.stationary .items2 .item1:hover {
  background-image: linear-gradient(
      rgba(80, 190, 233, 0.3),
      rgba(92, 196, 236, 0.3)
    ),
    url(../image/dress.jpg);
  cursor: pointer;
  font-weight: 600;
}
.stationary .items2 .item2:hover {
  background-image: linear-gradient(
      rgba(80, 190, 233, 0.3),
      rgba(92, 196, 236, 0.3)
    ),
    url(../image/herbshop.jpg);
  cursor: pointer;
  font-weight: 600;
}
.stationary .items2 .item3:hover {
  background-image: linear-gradient(
      rgba(80, 190, 233, 0.3),
      rgba(92, 196, 236, 0.3)
    ),
    url(../image/antics.jpg);
  cursor: pointer;
  font-weight: 600;
}

.stationary .items1 .item1 a:hover {
  color: white;
  transform: scale(1.5);
  text-shadow: 5px 5px 5px black;
  background-color: rgb(83, 13, 13);
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}
.stationary .items1 .item2 a:hover {
  color: white;
  transform: scale(1.5);
  text-shadow: 5px 5px 5px black;
  background-color: rgb(83, 13, 13);
  border-radius: 20px;
  padding: 10px 110px 10px 110px;
}
.stationary .items1 .item3 a:hover {
  color: white;
  transform: scale(1.5);
  text-shadow: 5px 5px 5px black;
  background-color: rgb(83, 13, 13);
  border-radius: 20px;
  padding: 10px 109.5px 10px 109.5px;
}
.stationary .items2 .item1 a:hover {
  color: white;
  transform: scale(1.5);
  text-shadow: 5px 5px 5px black;
  background-color: rgb(83, 13, 13);
  border-radius: 20px;
  padding: 10px 112px 10px 112px;
}
.stationary .items2 .item2 a:hover {
  color: white;
  transform: scale(1.5);
  text-shadow: 5px 5px 5px black;
  background-color: rgb(83, 13, 13);
  border-radius: 20px;
  padding: 10px 113px 10px 113px;
}
.stationary .items2 .item3 a:hover {
  color: white;
  transform: scale(1.5);
  text-shadow: 5px 5px 5px black;
  background-color: rgb(83, 13, 13);
  border-radius: 20px;
  padding: 10px 12px 10px 14px;
}

.stationary .itm {
  background-image: url(../image/banner1.jpg);
  padding: 10px 0px 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stationary .itm h2 {
  padding-left: 20px;
}

/* *******************Shop by house************************************ */
.house {
  display: flex;
  flex-direction: column;
}
.house .shop_by {
  background-image: url(../image/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0 30px 0;
  /* color: white; */
}
.house .shop_by h2 {
  font-size: 3rem;
  font-weight: 600;
}
.house .h_item {
  display: flex;
}

.house .h_item .item1 {
  background-image: url(../image/H1.jpg);
  width: 25%;
  height: 52vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: transparent;
  font-weight: 600;
  text-align: center;

  flex-direction: column;
}
.house .h_item .item2 {
  background-image: url(../image/H2.jpg);
  width: 25%;
  height: 52vh;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: x-large;
  color: transparent;
  font-weight: 600;
  flex-direction: column;
}
.house .h_item .item3 {
  background-image: url(../image/H3.jpg);
  width: 25%;
  height: 52vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: transparent;
  font-weight: 600;
  text-align: center;
  flex-direction: column;
}
.house .h_item .item4 {
  background-image: url(../image/H4.jpg);
  width: 25%;
  height: 52vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-size: x-large;
  align-items: center;
  justify-content: center;
  color: transparent;
  text-align: center;
  font-weight: 600;
  flex-direction: column;
}

.house .h_item .item1 a,
.house .h_item .item2 a,
.house .h_item .item3 a,
.house .h_item .item4 a {
  color: transparent;
  text-decoration: none;
  font-size: large;
}

.house .h_item .item1 a:hover,
.house .h_item .item2 a:hover,
.house .h_item .item3 a:hover,
.house .h_item .item4 a:hover {
  color: blue;
}

.h_item .item1 h3:hover {
  background-color: red;
  padding: 10px 0 10px 0;
}
.h_item .item2 h3:hover {
  background-color: green;
  padding: 10px 0 10px 0;
}
.h_item .item3 h3:hover {
  background-color: blue;
  padding: 10px 0 10px 0;
}
.h_item .item4 h3:hover {
  background-color: rgb(172, 172, 14);
  padding: 10px 0 10px 0;
}

.house .h_item .item1:hover {
  transition: all 0.3s ease;
  transform: scale(1.14);
  cursor: pointer;
  box-shadow: 2px 2px 10px yellow;
  color: white;
  text-shadow: 2px 2px 8px black;
}
.house .h_item .item2:hover {
  transition: all 0.3s ease;
  transform: scale(1.14);
  cursor: pointer;
  box-shadow: 2px 2px 10px yellow;
  color: white;
  text-shadow: 2px 2px 8px black;
}
.house .h_item .item3:hover {
  transition: all 0.3s ease;
  transform: scale(1.14);
  cursor: pointer;
  box-shadow: 2px 2px 10px yellow;
  color: white;
  text-shadow: 2px 2px 8px black;
}
.house .h_item .item4:hover {
  transition: all 0.3s ease;
  transform: scale(1.14);
  cursor: pointer;
  box-shadow: 2px 2px 10px yellow;
  color: white;
  text-shadow: 2px 2px 8px black;
}

/* ********************Best Selling Product Slider************************ */

.slider_heading {
  font-size: 2.3rem;
  line-height: 1.4;
  letter-spacing: 0.5rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}
#carouselExampleCaptions {
  width: 50%;
  height: 500px;
  background-image: url(../image/p1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
  /* border-radius:20px ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  box-shadow: 2px 2px 10px white;
}
.slider {
  background-color: rgba(27, 31, 34, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.slider h2 {
  letter-spacing: 1rem;
}

/* **************Hogwarts Acceptance Letter********************** */
.letter {
  background-image: url(../image/hogwartsletter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: white;
  font-weight: 300px;
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
}
.letter .main .btn1 {
  background: #7f6000;
  background: linear-gradient(#f1c232, #7f6000 50%, #f1c232);
  border-radius: 13px;
  padding: 11px 10px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 27px/1 "Pagella", serif;
  text-align: center;
  text-shadow: 1px 1px #bf9000;
  border-image: url(../image/banner1.jpg);
  margin-top: 15px;
}

/**************** footer******************** */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(158, 13, 74);
  padding: 30px 0 20px 0;
}
.footer .footer_logo a {
  padding: 0 20px 0 0;
}
.copyright {
  margin-top: 10px;
  color: white;
}
